/*media queries*/
/*@media screen and (min-width: 320px) and (max-width: 426px)*/

/*header and title typography*/
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/*body typography*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

/*start style*/
html {
    scroll-behavior: smooth;
  }

::-moz-selection {
    color:#fff;
    background:#38312d;
  }
  
  ::selection {
    color:#fff;
    background:#38312d;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(252, 232, 81,0.5);
    color: #38312d;
}

#header {
    width: 100%;
    height: 100%;
    margin-bottom: 0 auto;
    background-image: url("/images/backgroundimg.png");
    background-size: cover;
    background-position: 100%;
    display: flex;
}

.logo {
    width: 100px;
    padding-top: 20px;
}

img:hover {
    animation: wiggle 1000ms;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-30deg); }
    20% { transform: rotate(20deg); }
    60% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}

.container {
    padding: 10px 50px 50px;
}


/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    font-family: 'Instrument Serif', serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 24pt;
    position: relative;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a i {
    font-size: 70%;
}

/* about style */
.headerText {
    margin-top: 0 auto;
    font-size: 2rem;
    width: 50%;
}

.headerBody {
    margin-top: 1em;
    font-size: 2rem;
    width: 50%;
}

.headerText {
    margin-top: 0 auto;
    font-size: 2rem;
    width: 50%;
}

.headerText h1 {
    font-size: 100px;
    margin-top: 20px;
    font-family: 'Caprasimo', cursive;
    font-weight: 400;
}

.headerText h3 {
    font-size: 30pt;
    margin-top: 20px;
    font-family: 'Instrument Serif', serif;
}

.headerText h1 span {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
}

h1 span:hover {
    font-style: italic;
    font-weight: 500;
    /* animation: typeChange 0.5s infinite; */
}


/* @keyframes typeChange {
    from {
        font-family:'Courier New', Courier, monospace;
    }
    20% {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40% {
        font-family: 'Times New Roman', Times, serif;
    }
    60% {
        font-family: Arial, Helvetica, sans-serif;
    }
    80% {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    to {
        font-family: 'Instrument Serif', serif;
    }

} */

.headerBody p {
    font-weight: lighter;
    font-size: 30pt;
    font-family: 'Instrument Serif', serif;
}

.headerText p span {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
}

.headerBody p span a {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
}

.headerBody p span a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.headerBody h4 {
    font-size: 24pt;
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
}

.buttons {
   margin-top: 80px;
}

.buttons button {
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 20px 10px 20px;
    border-radius: 300px;
    background-color: #436ec3;
    margin-right: 20px;
}

.buttons button {
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 30px 10px 30px;
    border: none;
    background-color: #436ec3;
    margin-right: 20px;
    transition: all 0.2s ease-in;
}

.buttons button:hover {
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 30px 10px 30px;
    border: none;
    background-color:#38312d;
    margin-right: 20px;
}

/* skills style */
#skills {
    width: 100%;
    height: 100%;
    background-color:#436ec3;
    display: block;
}

#skills h1 {
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 3rem;
    font-weight: 100;
    color: #fff;
    padding: 3% 0 0 0;
}
.flexSkills h3 {
    color: #fff;
    font-family: 'Instrument Serif', serif;
    font-size: 2.5rem;
    font-style: bold;
    text-align: center;
}

.flexSkills p {
    color: #fff;
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}

.flexSkills /* good pun lol */ {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    padding: 1rem;
}

.flexSkills div {
    padding: 3rem 2rem 3rem 2rem;
    width: 33%;
}

.tools h4 {
    font-size: 3rem;
    text-align: center;
    color: white;
}

h3:hover {
    animation: wiggle 1000ms;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-3deg); }
    20% { transform: rotate(2deg); }
    60% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
}

/* footer style */
footer {
    background-color: #38312d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
}

footer ul li {
    display: inline-block;
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    list-style: none;
    margin: 10px 20px;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer img {
    width: 60%;
}