/*media queries*/
/*@media screen and (min-width: 320px) and (max-width: 426px)*/

/*header and title typography*/
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/*body typography*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

/*start style*/
::-moz-selection {
    color:#fff;
    background:#38312d;
  }
  
  ::selection {
    color:#fff;
    background:#38312d;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(252, 232, 81,0.5);
    color: #38312d;
}

#header {
    width: 100%;
    height: 100vh;
    margin-bottom: 0 auto;
    background-image: url("/images/backgroundimg.png");
    background-size: cover;
    background-position: 100%;
    display: flex;
}

.logo {
    width: 100px;
    padding-top: 20px;
}

.container {
    padding: 10px 50px 50px;
}


/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    font-family: 'Instrument Serif', serif;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
    font-size: 24pt;
    position: relative;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* about style */
.headerText {
    margin-top: 0 auto;
    font-size: 2rem;
    width: 50%;
}

.headerText h1 {
    font-size: 100px;
    margin-top: 20px;
    font-family: 'Caprasimo', cursive;
    font-weight: 400;
}

.headerText h3 {
    font-size: 30pt;
    margin-top: 20px;
    font-family: 'Instrument Serif', serif;
}

.headerText h1 span {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
}

h1 span:hover {
    font-style: italic;
    font-weight: 500;
    /*animation: typeChange ns infinite; put h1 in different div so that it doesn't make body text jump around when animating*/
}

/*
@keyframes typeChange {
    from {
        font-family:'Courier New', Courier, monospace;
    }
    20% {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    40% {
        font-family: 'Times New Roman', Times, serif;
    }
    60% {
        font-family: Arial, Helvetica, sans-serif;
    }
    80% {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    to {
        font-family: 'Instrument Serif', serif;
    }

}*/

.headerText p {
    font-weight: lighter;
    font-size: 30pt;
    font-family: 'Instrument Serif', serif;
}

.headerText p span {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
}

.headerText p span a {
    color: #436ec3;
    font-family: 'Instrument Serif', serif;
    text-decoration: none;
}

.headerText p span a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.headerText h4 {
    font-size: 24pt;
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
}

.buttons {
   margin-top: 80px;
}

.buttons button {
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 20px 10px 20px;
    border-radius: 300px;
    background-color: #436ec3;
    margin-right: 20px;
}

.buttons button {
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 30px 10px 30px;
    border: none;
    background-color: #436ec3;
    margin-right: 20px;
    transition: all 0.2s ease-in;
}

.buttons button:hover {
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    padding:10px 30px 10px 30px;
    border: none;
    background-color:#38312d;
    margin-right: 20px;
}

/* skills style */
.mySkills {
    width: 100%;
    background-color:#436ec3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySkills h1 {
    text-align: center;
    font-family: 'Caprasimo', cursive;
    font-size: 80px;
    font-weight: 100;
    color: #fff;
}
.flexSkills h3 {
    color: #fff;
}

.flexSkills p {
    color: #fff;
}

.flexSkills /* good pun lol */ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer style */
footer {
    background-color: #38312d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
}

footer ul li {
    display: inline-block;
    font-family: 'Instrument Serif', serif;
    font-size: 24pt;
    color: #fff;
    list-style: none;
    margin: 10px 20px;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer img {
    width: 60%;
}